* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: 15px Arial, sans-serif;
}

.header {
    border: 1px solid #777;
    padding: 10px 0;
    background-color: #0d1c24;
}
.header__inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__name {
    color: #212121;
    font-size: 18px;
    text-decoration: none;
}
.header__login {
    color: #fff;
    text-decoration: none;
}